In [1]:
from Bio import SeqIO

fasta_sequences = SeqIO.parse(open('../data/Silva_16S/16S_Mycobacterium.fasta'),'fasta')
names = []
sequences = []
for fasta in fasta_sequences:
    name, sequence = fasta.description, str(fasta.seq)
    names.append(name)
    sequences.append(sequence)
species_names = [x.split(";")[6] for x in names]
len(names)

27670

In [2]:
lengths = []
for item in sequences:
    val = len(item)
    lengths.append(val)

In [3]:
import pandas as pd 
df_rpoB = pd.read_excel('../Counts_of_Species.xlsx',sheetname="rpoB")
df_hsp65 = pd.read_excel('../Counts_of_Species.xlsx',sheetname="HSP65")
len(df_hsp65)

318

In [4]:
df_hsp65_species = list(df_hsp65['Species'])
df_rpoB_species = list(df_rpoB['Species'])
combined_species = df_hsp65_species+df_rpoB_species
combined_species_set = list(set(combined_species))
combined_species_set = map(str, combined_species_set)
combined_species_set.append('Nocardia asteroides')

In [5]:
rrna_df = pd.DataFrame(species_names)
rrna_df.columns = ['Species']
rrna_df['Names'] = names
rrna_df['Sequence'] = sequences
rrna_df['Lengths'] = lengths
rrna_df = rrna_df[rrna_df['Lengths']>1200]
rrna_df.head()

,Species,Names,Sequence,Lengths
2,Mycobacterium sp. SRB1151-113,AB010910.1.1479 Bacteria;Actinobacteria;Actino...,AGAGUUUGAUCCUGGCUCAGGACGAACGGUGACGGCGUGUUUAACA...,1479
3,Mycobacterium sp. TA27,AB028482.1.1482 Bacteria;Actinobacteria;Actino...,AGAGUUUGAUCAUGGCUCAGGACGAACGCUGGCGGCGUGCUUAACA...,1482
11,Mycobacterium sp. MHP-1,AB180481.1.1476 Bacteria;Actinobacteria;Actino...,AGUUUGAUCCUGGCUCAGGACGAACGCUGGCGGCGUGCUUAACACA...,1476
19,Mycobacterium sp. A14N,AB251601.1.1494 Bacteria;Actinobacteria;Actino...,GAGUUUGAUCCUGGCUCAGCUUAACACAUGCAAGUCGAACGGUAAG...,1494
22,Mycobacterium sp. NMR16-3,AB286060.1.1440 Bacteria;Actinobacteria;Actino...,CAUGCAAGUCGAACGGAAAGGCCCUUCGGGGUACUCGAGUGGCGAA...,1440

In [6]:
rrna_in_others = rrna_df[rrna_df['Species'].isin(combined_species_set)]
len(rrna_in_others)

5096

In [7]:
## Count Abundance of Culture Codes
df4 = rrna_in_others[['Species', 'Sequence']].groupby('Species').count()
df4.columns = ['Abundance']
df4.head()

                         Abundance
Species
Mycobacterium aemonae            1
Mycobacterium africanum         10
Mycobacterium agri               1
Mycobacterium aichiense          2
Mycobacterium alsense            8

In [8]:
### Multiples with Greater than 1 record
greater = df4[df4['Abundance'] > 1]
greater = list(greater.index)

In [9]:
## Greater than one
import random
my_acc = []
greatera = rrna_df[rrna_df['Species'].isin(greater)]
greatera.head()

,Species,Names,Sequence,Lengths
23,Mycobacterium marinum,AB291543.1.1401 Bacteria;Actinobacteria;Actino...,CAUGCAAGUCGAACGGAAAGGUCUCUUCGGAGACACUCGAGUGGCG...,1401
28,Mycobacterium lentiflavum,AB362381.1.1471 Bacteria;Actinobacteria;Actino...,GACGAACGCUGGCGGCGUGCUUAACACAUGCAAGUCGAACGGAAAG...,1471
30,Mycobacterium kyorinense,AB370111.1.1470 Bacteria;Actinobacteria;Actino...,AGGACGAACGCUGGCGGCGUGCUUAACACAUGCAAGUCGAACGGAA...,1470
31,Mycobacterium kyorinense,AB370169.1.1462 Bacteria;Actinobacteria;Actino...,AGGACGAACGCUGGCGGCGUGCUUAACACAUGCAAGUCGAACGGAA...,1462
38,Mycobacterium gilvum,AB491971.1.1374 Bacteria;Actinobacteria;Actino...,AGAGUUUGAUCCUGGCUCAGGACGAACGCUGGCGGCGUGCUUAACA...,1374

In [10]:
for name, group in greatera.groupby('Species'):
    my_list = list(group['Names'])
    one = random.sample(my_list,1)
    my_acc.append(one)
    
### Multiples with 1 record
ones = df4[df4['Abundance'] == 1]
ones = list(ones.index)
ehod = rrna_in_others[rrna_in_others['Species'].isin(ones)]
acc = list(ehod['Names'])

In [11]:
my_acc = [item for sublist in my_acc for item in sublist]
len(my_acc)

158

In [12]:
acc_to_keep = acc+my_acc

final_df = rrna_in_others[rrna_in_others['Names'].isin(acc_to_keep)]

In [13]:
Headers = list(final_df['Species'])
Sequenced = list(final_df['Sequence'])

In [14]:
import re
reverse_translated = []
headers = []
for item in Sequenced:
    item2 = re.sub('U', 'T', item)
    reverse_translated.append(item2)

for item in Headers:
    item2 = re.sub(' ', '_', item)
    headers.append(item2)

In [16]:
ofile = open("16S_Edited.fasta", "w")
for i in range(len(headers)):
    ofile.write(">" + headers[i] + "\n" +reverse_translated[i] + "\n")

ofile.close()

186